body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff url('./images/full-bloom.png');
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #aff3f7 0%, #47d8e0  100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 135px;
  width: 135px;
  background: url('./images/van-grass.png');
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.unmatch {
  background: #FF8000;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}
